.button {
	-fx-background-color: linear-gradient(#70FEBD, #9EFEBD);
	-fx-background-radius: 20;
	-fx-text-fill: black;
	-fx-border-insets: 5px;
}

.button:pressed {
	-fx-background-color: #AFE665;
}

#logo {
	-fx-background-color: transparent;
}